@model IEnumerable<UserBaseJson>
@* 分页查询 *@
@{
    ViewData["Title"] = "Index";
    Console.WriteLine("Sign Name: "+ ((UserBaseJson)ViewData["SignUser"]).SignName??"");
}

<h2>Index</h2>

<p>
    当前用户登陆用户为【<span id="sign-name">@(((UserBaseJson)ViewData["SignUser"]).SignName ??"游客")</span>】
</p>

<p>
    <a asp-action="Create">Create New User</a>
</p>
@{
    var users = Model;
    // 判断是否登陆
}
<table class="table" >
    <thead>
        <tr>
            <th>
                SignName
                @*@Html.DisplayNameFor(models => models.Extension[0].SignName)*@
            </th>
            <th>
                PassWord
                @*@Html.DisplayNameFor(model => model.PassWord)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SignName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassWord)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* 分页跳转 *@
<form asp-action="Index">
    <input id="pageIndex" name="pageIndex" type="number" placeholder="分页索引(0-base)"/>
    <input id="pageSize" name="pageSize" type="number" placeholder="每页尺寸"/>
    <input type="submit" value="跳转"/>
    @*<input type="submit" value="下一页" />*@
</form>
