@model IEnumerable<UserBase>

@{
    ViewData["Title"] = "用户管理";
}

<h2>用户管理</h2>

<p>
    <a asp-action="Create">创建新用户</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                用户名
                @*@Html.DisplayNameFor(model => model.SignName)*@
            </th>
            <th>
                密码
                @*@Html.DisplayNameFor(model => model.PassWord)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SignName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassWord)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">详情</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
